.meal {
    flex-grow: 1;
    min-width: 280px;
    max-width: 375px;
    text-align: center;
    background: black;
    border-top-left-radius: 3px;
    border-top-right-radius: 12px;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 3px;
    color: var(--white);
}

@media screen and (max-width: 1220px) {
    .meal {
        min-width: 370px;
        max-width: 48.6%;
    }
}

@media screen and (max-width: 820px) {
    .meal {
        min-width: 100%;
        max-width: unset;
    }
}

.content {
    padding: 0.7rem 1rem;
    line-height: 1.5rem;
}

.image {
    width: 100%;
    border-top-left-radius: 3px;
    border-top-right-radius: 12px;
}

.price {
    color: var(--yellow);
}

.description {
    min-height: 75px;
}

.buttonWrapper {
    margin: 2rem 0;
}