.header {
    max-width: 1500px;
    margin: 0 auto;
    padding: 1.4rem 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    max-width: 75px;
    border-radius: 50%;
    border: 3px solid var(--yellow);
}

.logoText {
    margin: 0;
    padding-left: 0.9rem;
    font-size: 1.5rem;
    font-weight: bold;
    text-transform: uppercase;
}

.cartText {
    margin-left: auto;
    padding: 0.5rem;
    font-size: 1.2rem;
    cursor: pointer;
}
.cartText:hover {
    /*  */
}
