@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&family=Lato:wght@400;700&display=swap');

:root {
    --black: #0e0e0e;
    --white: #e5e0d6;
    --yellow: #c8a012;
    --orange: #c5831f;
}

* {
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    margin: 0;
    background-image: linear-gradient(to bottom right, #432d1a, #c97c3a);
    font-family: 'Raleway', sans-serif;
    color: var(--yellow);
}