@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&family=Lato:wght@400;700&display=swap');

:root {
    --yellow: #a6871b;
}

* {
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    margin: 0;
    background: #372b2b;
    font-family: 'Raleway', sans-serif;
    color: var(--yellow);
    letter-spacing: 0.2rem;
}